body{
    font-family:  'Montserrat', sans-serif;
    text-align: center;
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

p{
    color: #8f8f8f;
}

.container-fluid{
    padding: 7% 15%;
}

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

/* Headings */

.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-heading{
 font-weight: bold;
}

/* navigation bar */

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding-bottom: 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

/* download button */

.download-button{
    margin: 5% 3% 5% 0;
}

/* title image */

.title-img{
    width: 23%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}
/* second page */


/* sections */

.coloured-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
 background-color: #fff;
}

/* feaures section */

#features{
position: relative;
 z-index: 1;
}
.feature-box{
    padding: 5%;
}

.feature-title{
font-weight: bold;
}


.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}

/* testimonial section */

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

#testimonials{
    background-color: #ef8172;
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 5%;
}



#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing section */

#pricing{
    padding: 100px;
}

.pricing-column{
    padding: 3% 2%;
}

.price-text{
   font-weight: bold;
}

@media (max-width: 1028px){

    #title{
        text-align: center;
    }

    .title-img{
        position: static;
        transform: rotate(0);
        
    }
}

/* call to action */


.download-Button{
    margin: 5% 3% 5% 0;
}

#footer{
    background-color: #fff;
    
   
}

.btn-icons{
    margin: 2% 2% 2% 0;  
}

.p-class{
    margin-right: 2%;
}